<ion-view title="Add a building" id="page34" class=" ">
    <ion-content padding="true" style="background: url(img/rVJMctLsRBOEyKtMXuGV_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
        <h2 id="addABuilding-heading34" style="color:#FFFFFF;" class=" ">Social Strata</h2>
        <ion-list id="addABuilding-list50" class=" ">
            <ion-item class="item-avatar  " id="addABuilding-list-item112">
                <img src="img/G3QEjRKSZKGHPRTfXLdu_woman-face.gif">
                <h2>User</h2>
            </ion-item>
        </ion-list>
        <div id="addABuilding-button-bar11" class=" button-bar ">
            <a ui-sref="settings" id="addABuilding-button112" class=" button button-stable button-small button-block ">New building</a>
        </div>
        <ion-list id="addABuilding-list51" class=" ">
            <label class="item item-input " id="addABuilding-textarea7">
                <span class="input-label">Property name</span><textarea placeholder=""></textarea>
            </label>
            <label class="item item-select " id="addABuilding-select6">
                <span class="input-label">Status</span>
                <select></select>
            </label>
            <ion-toggle toggle-class="toggle-positive" id="addABuilding-toggle18" class=" ">For rent</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="addABuilding-toggle20" class=" ">Renting</ion-toggle>
        </ion-list>
        <div class="spacer" style="width: 285px; height: 21px;"></div>
        <ion-list id="addABuilding-list52" class=" ">
            <ion-item id="addABuilding-list-item113" ui-sref="requestsTenant" class="  ">Address line 1</ion-item>
            <ion-item id="addABuilding-list-item116" ui-sref="requestsTenant" class="  ">Address line 2</ion-item>
            <ion-item id="addABuilding-list-item122" ui-sref="requestsTenant" class="  ">Address line 3</ion-item>
        </ion-list>
        <div class="spacer" style="width: 285px; height: 22px;"></div>
        <ion-list id="addABuilding-list53" class=" ">
            <ion-item id="addABuilding-list-item120" class="  ">How many bedrooms?</ion-item>
            <ion-item id="addABuilding-list-item132" class="  ">Characteristics</ion-item>
            <ion-item id="addABuilding-list-item121" class="  ">Contact number</ion-item>
        </ion-list>
        <div class="spacer" style="width: 285px; height: 23px;"></div>
        <a ui-sref="settings2" id="addABuilding-button116" class=" button button-assertive  ">Done</a>
    </ion-content>
</ion-view>