<ion-view title="Booking confirmation" id="page28" class=" ">
    <ion-content padding="true" style="background: url(img/eAVtwVzVQcyCYu8mG5GF_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
        <h2 id="bookingConfirmation-heading23" style="color:#FFFFFF;" class=" ">Social Strata</h2>
        <div class="spacer" style="width: 285px; height: 127px;"></div>
        <button id="bookingConfirmation-button89" class=" button button-assertive  button-block ">Your reservation is confirmed</button>
        <button id="bookingConfirmation-button88" class=" button button-light  button-block ">Thank you!</button>
        <div class="spacer" style="width: 285px; height: 159px;"></div>
        <a ui-sref="bookings" id="bookingConfirmation-button90" class=" button button-stable button-small icon ion-android-arrow-back "></a>
    </ion-content>
</ion-view>