<ion-view title="Bookings" id="page26" class=" ">
    <ion-content padding="true" style="background: url(img/eAVtwVzVQcyCYu8mG5GF_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
        <h2 id="bookings-heading25" style="color:#FFFFFF;" class=" ">Social Strata</h2>
        <ion-list id="bookings-list17" class=" ">
            <ion-item class="item-icon-left  " id="bookings-list-item62" ui-sref="bookingDetails">
                <i class="icon ion-android-bar"></i>Party Room</ion-item>
            <ion-item class="item-icon-left  " id="bookings-list-item63" ui-sref="bookingDetails">
                <i class="icon ion-ios-partlysunny-outline"></i>Barbecue lounge</ion-item>
            <ion-item class="item-icon-left  " id="bookings-list-item64" ui-sref="bookingDetails">
                <i class="icon ion-ios-nutrition"></i>Garden</ion-item>
            <ion-item class="item-icon-left  " id="bookings-list-item65" ui-sref="bookingDetails">
                <i class="icon ion-ios-game-controller-b-outline"></i>Game Room</ion-item>
        </ion-list>
    </ion-content>
</ion-view>