<ion-view title="Chat" id="page23" class=" ">
    <ion-content padding="true" style="background: url(img/TIKJ7qKTwoTZHDLgv8Mg_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
        <!-- Logo -->
<div class="row">
  <div class="col">
    <img src="img/logolegenda.png">
  </div>
</div>
        <div id="chat-button-bar15" class=" button-bar ">
            <a ui-sref="social" id="chat-button128" class=" button button-stable button-small button-block ">Conversations</a>
            <button id="chat-button129" class=" button button-positive button-small button-block ">Chat</button>
            <a ui-sref="groups" id="chat-button120" class=" button button-stable button-small button-block ">Groups</a>
        </div>
        <ion-list id="chat-list44" class=" ">
            <ion-item class="item-avatar  " id="chat-list-item123">
                <img src="img/WTP2xPYhSCqZe14ZjiYm_Ordinary-woman-face-2.gif">
                <h2>Carol</h2>
            </ion-item>
        </ion-list>
        <p id="chat-markdown78" style="margin-top:0px;color:#FFFFFF;" class=" ">
            <strong>Carol:</strong>Hi my beautiful friend, how are you?
            <strong>Me</strong>Oh,hello, girl! I'm great todaay, finally the exams are over! Let's go for a run?
            <strong>Carol:</strong>Hmmmm, you really are happy, you don't go for a run in ages! Hahahahaha :)
            <strong>Me</strong>Don't be mean! hahahaha</p>
    </ion-content>
</ion-view>
