<ion-view title="Events" id="page36" class=" ">
    <ion-content padding="true" style="background: url(img/nI55RdrTTY2fm1F9FR1A_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
        <!-- Logo -->
<div class="row">
  <div class="col">
    <img src="img/logolegenda.png">
  </div>
</div>
        <a ui-sref="hostAnEvent" id="events-button133" class=" button button-balanced button-small button-block ">Host an event!</a>
        <form id="events-form16" class="list ">
            <label class="item item-input " id="events-input31">
                <span class="input-label">Pool Party</span>
                <input type="text" placeholder="">
            </label>
            <p id="events-markdown87" style="margin-top:0px;color:#FFFFFF;" class=" ">Poo party on Saturday! Bring your drinks
                <strong>Tenant, 05.18th</strong>
            </p>
            <div id="events-button-bar16" class=" button-bar ">
                <button id="events-button139" class=" button button-balanced button-small button-block ">I'm going</button>
                <button id="events-button140" class=" button button-stable button-small button-block ">Maybe</button>
                <button id="events-button141" class=" button button-dark button-small button-block ">No way</button>
            </div>
            <div class="spacer" style="width: 285px; height: 5px;"></div>
            <label class="item item-input " id="events-input33">
                <span class="input-label">Garden harvest</span>
                <input type="text" placeholder="">
            </label>
            <p id="events-markdown88" style="margin-top:0px;color:#FFFFFF;" class=" ">This Friday, May 20, will take place the tomatoes harvast in our garden. You're welcome to join us at 12:00.
                <strong>Landlord, 05.21st</strong>
            </p>
            <div id="events-button-bar17" class=" button-bar ">
                <button id="events-button142" class=" button button-balanced button-small button-block ">I'm going</button>
                <button id="events-button143" class=" button button-stable button-small button-block ">Maybe</button>
                <button id="events-button144" class=" button button-dark button-small button-block ">No way</button>
            </div>
            <div class="spacer" style="width: 285px; height: 6px;"></div>
            <label class="item item-input " id="events-input34">
                <span class="input-label">Mandatory meeting</span>
                <input type="text" placeholder="">
            </label>
            <p id="events-markdown89" style="margin-top:0px;color:#FFFFFF;" class=" ">On Monday, 23rd, will take place a mandatory meeting regarding social behaviors. On the common room at 18:00
                <strong>Landlord, 05.19th</strong>
            </p>
            <div id="events-button-bar18" class=" button-bar ">
                <button id="events-button145" class=" button button-balanced button-small button-block ">I'm going</button>
                <button id="events-button146" class=" button button-stable button-small button-block ">Maybe</button>
                <button id="events-button147" class=" button button-dark button-small button-block ">No way</button>
            </div>
            <div class="spacer" style="width: 285px; height: 6px;"></div>
            <label class="item item-input " id="events-input38">
                <span class="input-label">Beer pong</span>
                <input type="text" placeholder="">
            </label>
            <p id="events-markdown90" style="margin-top:0px;color:#FFFFFF;" class=" ">Beer pong at the Party room this Friday! Starts at 20h, bring your friends.
                <strong>Tenant, 05.16th</strong>
            </p>
            <div id="events-button-bar19" class=" button-bar ">
                <button id="events-button148" class=" button button-balanced button-small button-block ">I'm going</button>
                <button id="events-button149" class=" button button-stable button-small button-block ">Maybe</button>
                <button id="events-button150" class=" button button-dark button-small button-block ">No way</button>
            </div>
        </form>
    </ion-content>
</ion-view>
