<ion-view title="Groups" id="page41" class=" ">
    <ion-content padding="true" style="background: url(img/TIKJ7qKTwoTZHDLgv8Mg_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
        <h2 id="groups-heading35" style="color:#FFFFFF;" class=" ">Social Strata</h2>
        <div id="groups-button-bar13" class=" button-bar ">
            <a ui-sref="social" id="groups-button130" class=" button button-stable button-small button-block ">Conversations</a>
            <button id="groups-button134" class=" button button-positive button-small button-block ">Groups</button>
        </div>
        <ion-list id="groups-list57" class=" ">
            <ion-item class="item-thumbnail-left  " id="groups-list-item136" ui-sref="groupDetails">
                <img src="img/D4gYU2r2Q62dOfXZvPSp_553047-1fe04063fafafa5239b31f83e836129b-medium_jpg.jpg">
                <h2>My Green Space</h2>
                <p style="white-space:normal;">Grow food with confidence.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="groups-list-item138" ui-sref="groupDetails">
                <img src="img/8Ov8TykDQteBc4tcIcZx_15536_24783_8a920153c6ac39ccfa61f51d392ea0f5.jpg">
                <h2>Local Store</h2>
                <p style="white-space:normal;">Buy local!</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="groups-list-item139" ui-sref="groupDetails">
                <img src="img/hIgFmUMTEyQRfndBqPOw_gardening.jpg">
                <h2>Gardening Products</h2>
                <p style="white-space:normal;">Everything you need in one place.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="groups-list-item140" ui-sref="groupDetails">
                <img src="img/YJ1zE1g0QRynEX0QFp9a_weather-1.jpg">
                <h2>Wheather Report</h2>
                <p style="white-space:normal;">Daily broadcasts</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>