<ion-view title="Group details" id="page42" class=" ">
    <ion-content padding="true" style="background: url(img/TIKJ7qKTwoTZHDLgv8Mg_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
        <h2 id="groupDetails-heading36" style="color:#FFFFFF;" class=" ">Social Strata</h2>
        <div id="groupDetails-button-bar14" class=" button-bar ">
            <a ui-sref="social" id="groupDetails-button135" class=" button button-stable button-small button-block ">Conversations</a>
            <a ui-sref="groups" id="groupDetails-button137" class=" button button-positive button-small button-block ">Groups</a>
        </div>
        <ion-list id="groupDetails-list58" class=" ">
            <ion-item class="item-thumbnail-left  " id="groupDetails-list-item137">
                <img src="img/D4gYU2r2Q62dOfXZvPSp_553047-1fe04063fafafa5239b31f83e836129b-medium_jpg.jpg">
                <h2>My Green Space</h2>
                <p style="white-space:normal;">Grow food with confidence</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 285px; height: 7px;"></div>
        <form id="groupDetails-form28" class="list ">
            <label class="item item-input " id="groupDetails-input49">
                <span class="input-label">Recommendations</span>
                <input type="text" placeholder="">
            </label>
            <p id="groupDetails-markdown97" style="margin-top:0px;color:#FFFFFF;" class=" ">
                <strong>Hello, gardeners!</strong>Want to know what is the best plant varieties for your specific garden conditions? Check it all here! City, Sunlight, Season and all you need to know.</p>
            <label class="item item-input " id="groupDetails-input65">
                <span class="input-label">Helpful Tips</span>
                <input type="text" placeholder="">
            </label>
            <p id="groupDetails-markdown98" style="margin-top:0px;color:#FFFFFF;" class=" ">
                <strong>Tip of the day:</strong>You keep watering your plant but it doesn't seem to grow? Be careful, too much water can damage the plant and make more harm than good.</p>
        </form>
    </ion-content>
</ion-view>