<ion-view title="Home">
    <ion-content padding="true" class="has-header home">
        <h1 id="homeAfterLogin-heading16" style="color:#FFFFFF;" class=" ">Social Strata</h1>
        <a ui-sref="menu" id="homeAfterLogin-button102" class=" button button-stable button-small ">Navigate</a>
        <div class="">
            <img src="img/JEg9XwXHSBejMJbF55Xd_NMH_buildings_-_Social_Hall_(Music_Hall).jpg" width="100%" height="160" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 285px; height: 14px;"></div>
        <div class="item item-body " id="homeAfterLogin-list-item-container14">
            <p id="homeAfterLogin-markdown38" style="margin-top:0px;color:#000000;" class=" ">
                <strong>Notices</strong>
                The garden needs watering tomorrow, if you want to help join us at 15 pm
                <strong>Nathalie</strong>
            </p>
        </div>
        <a ui-sref="notices2" id="homeAfterLogin-button54" style="text-align:right;" class=" button button-positive button-small ">See more</a>
        <div class="spacer" style="width: 285px; height: 13px;"></div>
        <div class="item item-body " id="homeAfterLogin-list-item-container15">
            <p id="homeAfterLogin-markdown39" style="margin-top:0px;color:#000000;" class=" ">
                <strong>Events</strong>
                Barbecue party Friday at 17h! Bring your drinks
                <strong>Scott</strong>
            </p>
        </div>
        <a ui-sref="events" id="homeAfterLogin-button55" style="text-align:right;" class=" button button-positive button-small ">See more</a>
        <div class="spacer" style="width: 285px; height: 12px;"></div>
        <div class="item item-body " id="homeAfterLogin-list-item-container16">
            <p id="homeAfterLogin-markdown40" style="margin-top:0px;color:#000000;" class=" ">
                <strong>Lost &amp; Found</strong>
                Yellow umbrella lost in barbecue lounge
                <strong>Scott</strong>
            </p>
        </div>
        <a ui-sref="lostFound" id="homeAfterLogin-button56" style="text-align:right;" class=" button button-positive button-small ">See more</a>
    </ion-content>
</ion-view>
