<ion-view title="Home" id="home">
    <ion-content padding="true" class="has-header home">
      <!-- Logo -->
      <div class="row">
        <div class="col">
          <img src="img/logolegenda.png">
        </div>
      </div>

      <button class="button" ng-click="goMenu()">
        <i class="ion-navicon-round"></i></span>
      </button>

        <!--<a ui-sref="menu" id="homeAfterLogin-button102" class=" button button-stable button-small ">Navigate</a>-->

        <div class="card" ng-repeat="notice in notices">
            <div class="item item-divider">
               <span class="noticesTitle"> <i class="ion-alert-circled"></i> Notice - {{notice.Title}}</span>
            </div>
            <div class="item item-text-wrap">
              <span>{{notice.Description}}</span>
            </div>
        </div>

        <a ui-sref="notices" id="homeAfterLogin-button55" style="text-align:right;" class=" button button-positive button-small ">See more</a>

        <div class="spacer" style="width: 285px; height: 13px;"></div>
        <div class="item item-body " id="homeAfterLogin-list-item-container15">
            <p id="homeAfterLogin-markdown39" style="margin-top:0px;color:#000000;" class=" ">
                <strong>Events</strong>
                Barbecue party Friday at 17h! Bring your drinks
                <strong>Scott</strong>
            </p>
        </div>

        <a ui-sref="events" id="homeAfterLogin-button55" style="text-align:right;" class=" button button-positive button-small ">See more</a>
        <div class="spacer" style="width: 285px; height: 12px;"></div>
        <div class="item item-body " id="homeAfterLogin-list-item-container16">
            <p id="homeAfterLogin-markdown40" style="margin-top:0px;color:#000000;" class=" ">
                <strong>Lost &amp; Found</strong>
                Yellow umbrella lost in barbecue lounge
                <strong>Scott</strong>
            </p>
        </div>
        <a ui-sref="lostFound" id="homeAfterLogin-button56" style="text-align:right;" class=" button button-positive button-small ">See more</a>
    </ion-content>
</ion-view>
