<ion-view title="Home" id="landing">
    <ion-content padding="true" class="landing">
      <!-- Logo -->
      <div class="row">
        <div class="col">
          <img src="img/logolegenda.png">
        </div>
      </div>

      <!--<div class="card imageContainer">
        <img src="img/landing.jpg">
      </div>-->

      <div class="card">
          <div class="item item-divider">
             <span class="noticesTitle"> <i class="ion-alert-circled"></i> Notice - {{notices.Title}}</span>
          </div>
          <div class="item item-text-wrap">
            <span>{{notices.Description}}</span>
          </div>
      </div>

      <div class="card">
          <div class="item item-divider">
            <div class="row">
              <div class="col-20">
                <span class="noticesTitle"> <i class="ion-alert-circled"></i> Events</span>
                <i class="ion-calendar"></i> 05/21 - 11:30 PM</i>
              </div>
            </div>
          </div>
          <div class="item item-text-wrap">
                <span>Barbecue party Friday at 17h! Bring your drinks.</span>
                <strong>Scott</strong>
          </div>
      </div>

        <button class="button button-block button-royal" ng-click="goLogin()">
          Login
        </button>
        <button class="button button-block button-assertive" ng-click="goSignUp()">
          Sign up for free!
        </button>

    </ion-content>
</ion-view>
