<ion-view title="Lost &amp; Found" id="page5" class=" ">
    <ion-content padding="true" style="background: url(img/nI55RdrTTY2fm1F9FR1A_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
      <!-- Logo -->
      <div class="row">
        <div class="col">
          <img src="img/logolegenda.png">
        </div>
      </div>
        <a ui-sref="lost" id="lostFound-button24" class=" button button-stable button-small ">All items LOST :(</a>
        <a ui-sref="found" id="lostFound-button25" class=" button button-stable button-small ">All items FOUND :)</a>
        <a ui-sref="addItem" id="lostFound-button26" class=" button button-balanced button-small ">Add!</a>
        <form id="lostFound-form8" class="list ">
            <div class="spacer" style="width: 285px; height: 7px;"></div>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="What are you looking for?">
            </label>
            <div class="spacer" style="width: 285px; height: 6px;"></div>
            <div class="spacer" style="width: 285px; height: 7px;"></div>
            <label class="item item-input " id="lostFound-input32">
                <span class="input-label">LOST | Flashdrive</span>
                <input type="text" placeholder="">
            </label>
            <p id="lostFound-markdown17" style="margin-top:0px;color:#FFFFFF;" class=" ">A silver flashdrive in a Penguin shape in the party room
                <strong>Icaro, 05.21st</strong>
            </p>
            <label class="item item-input " id="lostFound-input35">
                <span class="input-label">FOUND | Umbrella</span>
                <input type="text" placeholder="">
            </label>
            <p id="lostFound-markdown19" style="margin-top:0px;color:#FFFFFF;" class=" ">An umbrella yesterday near garden
                <strong>Leo, 05.21st</strong>
            </p>
            <label class="item item-input " id="lostFound-input36">
                <span class="input-label">LOST | Hat</span>
                <input type="text" placeholder="">
            </label>
            <p id="lostFound-markdown20" style="margin-top:0px;color:#FFFFFF;" class=" ">A yellow hat on the barbecue area
                <strong>Marcela, 05.20</strong>
            </p>
            <label class="item item-input " id="lostFound-input37">
                <span class="input-label">FOUND | Suitcase</span>
                <input type="text" placeholder="">
            </label>
            <p id="lostFound-markdown21" style="margin-top:0px;color:#FFFFFF;" class=" ">
                <strong>FOUND</strong>A suitcase full of woman clothes outside the main building
                <strong>Maurício, 05.15</strong>
            </p>
        </form>
    </ion-content>
</ion-view>
