<ion-view title="Make request Tenant" id="page20" class=" ">
    <ion-content padding="true" style="background: url(img/nI55RdrTTY2fm1F9FR1A_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
        <h2 id="makeRequestTenant-heading20" style="color:#FFFFFF;" class=" ">Social Strata</h2>
        <button id="makeRequestTenant-button108" class=" button button-positive button-small ">Make a request</button>
        <a ui-sref="requestsTenant" id="makeRequestTenant-button74" class=" button button-stable button-small ">Your requests</a>
        <form id="makeRequestTenant-form36" class="list ">
            <div class="spacer" style="width: 285px; height: 17px;"></div>
            <ion-item class="item-avatar  " id="makeRequestTenant-list-item33">
                <img src="img/yNlAOgmcTcu1ikoMK1lK_woman-face.gif">
                <h2>Tenant</h2>
            </ion-item>
            <label class="item item-input " id="makeRequestTenant-input66">
                <span class="input-label">What is the problem?</span>
                <input type="text" placeholder="">
            </label>
            <p id="makeRequestTenant-markdown57" style="margin-top:0px;color:#FFFFFF;" class=" ">Please, give more details.</p>
        </form>
        <a ui-sref="requestsTenant" id="makeRequestTenant-button104" class=" button button-assertive button-small ">Request!</a>
    </ion-content>
</ion-view>