<ion-view title="Menu" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="menu-list2" class=" ">
            <ion-item id="menu-list-item6" ui-sref="homeAfterLogin" class="  ">Home</ion-item>
            <ion-item id="menu-list-item39" ui-sref="lostFound" class="  ">Lost &amp; Found</ion-item>
            <ion-item id="menu-list-item40" ui-sref="notices" class="  ">Notices</ion-item>
            <ion-item id="menu-list-item41" ui-sref="makeRequestTenant" class="  ">Your requests</ion-item>
            <ion-item id="menu-list-item45" ui-sref="bookings" class="  ">Booking</ion-item>
            <ion-item id="menu-list-item42" ui-sref="proposalsIssues" class="  ">Proposals</ion-item>
            <ion-item id="menu-list-item43" ui-sref="social" class="  ">Social</ion-item>
            <ion-item id="menu-list-item44" ui-sref="payment" class="  ">Payment</ion-item>
            <ion-item id="menu-list-item5" ui-sref="settings" class="  ">Settings</ion-item>
            <ion-item id="menu-list-item4" ui-sref="login" class="  ">Sign Out</ion-item>
        </ion-list>
    </ion-content>
</ion-view>