<ion-view title="New topic" id="page38" class=" ">
    <ion-content padding="true" style="background: url(img/nI55RdrTTY2fm1F9FR1A_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
        <h2 id="newTopic-heading31" style="color:#FFFFFF;" class=" ">Social Strata</h2>
        <form id="newTopic-form20" class="list ">
            <ion-item class="item-avatar  " id="newTopic-list-item143">
                <img src="img/ZLRcB0G4T2R94FHtkDrQ_woman-face.gif">
                <h2>What's on?</h2>
            </ion-item>
            <p id="newTopic-markdown92" style="margin-top:0px;color:#FFFFFF;" class=" ">Describe it so people can understand it</p>
            <div class="spacer" style="height: 100px;"></div>
        </form>
        <form id="newTopic-form23" class="list ">
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="newTopic-toggle19" class=" ">Make a poll?</ion-toggle>
        </form>
        <ion-list id="newTopic-list45" class=" ">
            <ion-item class="item-icon-left  " id="newTopic-list-item124">
                <i class="icon ion-ionic"></i>Yes</ion-item>
        </ion-list>
        <ion-list id="newTopic-list46" class=" ">
            <ion-item class="item-icon-left  " id="newTopic-list-item125">
                <i class="icon ion-ionic"></i>No</ion-item>
        </ion-list>
        <a ui-sref="proposalsIssues" id="newTopic-button155" class=" button button-positive button-small ">Post</a>
    </ion-content>
</ion-view>