<ion-view title="Notices" id="page17" class=" ">
    <ion-content padding="true" style="background: url(img/nI55RdrTTY2fm1F9FR1A_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
        <h2 id="notices-heading17" style="color:#FFFFFF;" class=" ">Social Strata</h2>
        <a ui-sref="postANotice" id="notices-button91" class=" button button-balanced button-small button-block ">Post a notice!</a>
        <form id="notices-form33" class="list ">
            <label class="item item-input " id="notices-input54">
                <span class="input-label">Pool Mainteinance</span>
                <input type="text" placeholder="">
            </label>
            <p id="notices-markdown41" style="margin-top:0px;color:#FFFFFF;" class=" ">The pool will not be available for use on Sunday, 22nd, due to monthly maintainance.
                <strong>Landlord, 05.21st</strong>
            </p>
            <a ui-sref="notices2" id="notices-button60" class=" button button-positive button-small ">See more</a>
            <div class="spacer" style="width: 285px; height: 5px;"></div>
            <label class="item item-input " id="notices-input55">
                <span class="input-label">Garden harvest</span>
                <input type="text" placeholder="">
            </label>
            <p id="notices-markdown42" style="margin-top:0px;color:#FFFFFF;" class=" ">This Friday, May 20, will take place the tomatoes harvast in our garden. You're welcome to join us at 12:00.
                <strong>Landlord, 05.21st</strong>
            </p>
            <a ui-sref="notices2" id="notices-button61" class=" button button-positive button-small ">See more</a>
            <div class="spacer" style="width: 285px; height: 6px;"></div>
            <label class="item item-input " id="notices-input56">
                <span class="input-label">Mandatory meeting</span>
                <input type="text" placeholder="">
            </label>
            <p id="notices-markdown43" style="margin-top:0px;color:#FFFFFF;" class=" ">On Monday, 23rd, will take place a mandatory meeting regarding social behaviors. On the common room at 18:00
                <strong>Marcela, 05.19th</strong>
            </p>
            <a ui-sref="notices2" id="notices-button62" class=" button button-positive button-small ">See more</a>
            <div class="spacer" style="width: 285px; height: 6px;"></div>
            <label class="item item-input " id="notices-input57">
                <span class="input-label">Elevator out-of-order</span>
                <input type="text" placeholder="">
            </label>
            <p id="notices-markdown44" style="margin-top:0px;color:#FFFFFF;" class=" ">The main elevator is out of order due to unexpected weather conditions. The responsable company has already been contacted and it is expected to fix the problem soon.
                <strong>Landlord, 05.16th</strong>
            </p>
            <a ui-sref="notices2" id="notices-button63" class=" button button-positive button-small ">See more</a>
            <a ui-sref="notices2" id="notices-button64" class=" button button-stable  button-block icon-right ion-android-arrow-forward ">See older notices</a>
        </form>
    </ion-content>
</ion-view>