<ion-view title="Payment full history" id="page32" class=" ">
    <ion-content padding="true" style="background: url(img/rVJMctLsRBOEyKtMXuGV_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
        <ion-list id="paymentFullHistory-list35" class=" ">
            <ion-item class="item-avatar  " id="paymentFullHistory-list-item93">
                <img src="img/lmswNVTESK6XlEmyUb2Q_woman-face.gif">
                <h2>User</h2>
            </ion-item>
        </ion-list>
        <div id="paymentFullHistory-button-bar7" class=" button-bar ">
            <button id="paymentFullHistory-button114" class=" button button-positive button-small button-block ">Payment history</button>
            <a ui-sref="payment" id="paymentFullHistory-button115" class=" button button-stable button-small button-block ">Make a payment</a>
        </div>
        <ion-list id="paymentFullHistory-list36" class=" ">
            <label class="item item-select " id="paymentFullHistory-select4">
                <span class="input-label">Apartment 2C</span>
                <select></select>
            </label>
        </ion-list>
        <ion-list id="paymentFullHistory-list37" class=" ">
            <ion-item id="paymentFullHistory-list-item94" ui-sref="paymentDetails" class="  ">May</ion-item>
            <ion-item id="paymentFullHistory-list-item95" ui-sref="paymentDetails" class="  ">April</ion-item>
            <ion-item id="paymentFullHistory-list-item96" ui-sref="paymentDetails" class="  ">March</ion-item>
            <ion-item id="paymentFullHistory-list-item97" ui-sref="paymentDetails" class="  ">February</ion-item>
            <ion-item id="paymentFullHistory-list-item98" ui-sref="paymentDetails" class="  ">January</ion-item>
            <ion-item id="paymentFullHistory-list-item99" ui-sref="paymentDetails" class="  ">Dec 15</ion-item>
            <ion-item id="paymentFullHistory-list-item100" ui-sref="paymentDetails" class="  ">Nov 15</ion-item>
            <ion-item id="paymentFullHistory-list-item101" ui-sref="paymentDetails" class="  ">Oct 15</ion-item>
            <ion-item id="paymentFullHistory-list-item102" ui-sref="paymentDetails" class="  ">Sept 15</ion-item>
            <ion-item id="paymentFullHistory-list-item103" ui-sref="paymentDetails" class="  ">Aug 15</ion-item>
            <ion-item id="paymentFullHistory-list-item104" ui-sref="paymentDetails" class="  ">July 15</ion-item>
            <ion-item id="paymentFullHistory-list-item105" ui-sref="paymentDetails" class="  ">June 15</ion-item>
            <ion-item id="paymentFullHistory-list-item106" ui-sref="paymentDetails" class="  ">May 15</ion-item>
        </ion-list>
        <div id="paymentFullHistory-button-bar8" class=" button-bar "></div>
    </ion-content>
</ion-view>