<ion-view title="Payment" id="page24" class=" ">
    <ion-content padding="true" style="background: url(img/1Mv20adzSQ2cG2pZHoot_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
        <p id="payment-markdown79" style="color:#FFFFFF;font-size:21px;text-align:center;" class=" ">
            <strong>Pay your rent now with</strong>
        </p>
        <button id="payment-button81" style="font-weight:600;color:#0E09A0;" class=" button button-light  button-block ">PayPal</button>
        <form id="payment-form15" class="list ">
            <p id="payment-markdown80" style="color:#FFFFFF;text-align:center;" class=" ">
                <strong>Or</strong>
            </p>
            <label class="item item-input " id="payment-textarea1">
                <span class="input-label">Country</span><textarea placeholder=""></textarea>
            </label>
            <div class="spacer" style="width: 285px; height: 5px;"></div>
            <label class="item item-input " id="payment-textarea2">
                <span class="input-label">Card Number</span><textarea placeholder=""></textarea>
            </label>
            <div class="spacer" style="width: 285px; height: 4px;"></div>
            <label class="item item-input " id="payment-textarea3">
                <span class="input-label">Valid until</span><textarea placeholder=""></textarea>
            </label>
            <div class="spacer" style="width: 285px; height: 5px;"></div>
            <label class="item item-input " id="payment-textarea4">
                <span class="input-label">Security Code</span><textarea placeholder=""></textarea>
            </label>
            <div class="spacer" style="width: 285px; height: 5px;"></div>
            <label class="item item-input " id="payment-textarea5">
                <span class="input-label">Name</span><textarea placeholder=""></textarea>
            </label>
            <div class="spacer" style="width: 285px; height: 6px;"></div>
            <label class="item item-input " id="payment-textarea6">
                <span class="input-label">Date of birth</span><textarea placeholder=""></textarea>
            </label>
            <a ui-sref="paymentConfirmation" id="payment-button122" class=" button button-assertive  button-block ">Pay</a>
            <a ui-sref="paymentHistory" id="payment-button123" class=" button button-stable button-small button-block ">See payment history</a>
            <div id="payment-button-bar12" class=" button-bar "></div>
        </form>
    </ion-content>
</ion-view>