<ion-view title="Pop up" id="page12" class=" ">
    <ion-content padding="true" style="background: url(img/wFSCKWTfRli26OBv9qel_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
        <div class="spacer" style="width: 285px; height: 39px;"></div>
        <button id="popUp-button35" style="font-size:24px;" class=" button button-assertive button-small button-block ">Please go to the administration to get it back!</button>
    </ion-content>
</ion-view>