<ion-view title="Profile" id="profile">
    <ion-content padding="true" class="has-header profile">
      <form id="registration-form17" class="list ">
          <label class="item item-input " id="registration-input21">
              <span class="input-label">First name</span>
              <input type="text" placeholder="">
          </label>
          <div class="spacer" style="width: 285px; height: 6px;"></div>
          <label class="item item-input " id="registration-input22">
              <span class="input-label">Last name</span>
              <input type="text" placeholder="">
          </label>
          <div class="spacer" style="width: 285px; height: 5px;"></div>
          <label class="item item-input " id="registration-input24">
              <span class="input-label">Phone Number</span>
              <input type="text" placeholder="">
          </label>
      </form>

      <button class="button button-block button-assertive" ng-click="updateProfile()">
        Update Profile!
      </button>

    </ion-content>
</ion-view>
