<ion-view title="Proposals polls" id="page39" class=" ">
    <ion-content padding="true" style="background: url(img/eAVtwVzVQcyCYu8mG5GF_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
        <h2 id="proposalsPolls-heading32" style="color:#FFFFFF;" class=" ">Social Strata</h2>
        <div id="proposalsPolls-button-bar21" class=" button-bar ">
            <a ui-sref="proposalsIssues" id="proposalsPolls-button156" class=" button button-stable button-small button-block ">Issues</a>
            <button id="proposalsPolls-button157" class=" button button-positive button-small button-block ">Polls</button>
            <a ui-sref="newTopic" id="proposalsPolls-button158" class=" button button-stable button-small button-block ">New topic</a>
        </div>
        <ion-list id="proposalsPolls-list47" class=" ">
            <ion-item class="dark  " id="proposalsPolls-list-item109">Do you think you can dance?</ion-item>
            <ion-toggle toggle-class="toggle-positive" id="proposalsPolls-toggle9" class=" ">Yes</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="proposalsPolls-toggle13" class=" ">No</ion-toggle>
        </ion-list>
        <div class="spacer" style="width: 285px; height: 15px;"></div>
        <ion-list id="proposalsPolls-list48" class=" ">
            <ion-item id="proposalsPolls-list-item110" class="  ">Open pool on sundays?</ion-item>
            <ion-toggle toggle-class="toggle-positive" id="proposalsPolls-toggle14" class=" ">Yes</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="proposalsPolls-toggle17" class=" ">No</ion-toggle>
        </ion-list>
        <div class="spacer" style="width: 285px; height: 15px;"></div>
        <ion-list id="proposalsPolls-list49" class=" ">
            <ion-item id="proposalsPolls-list-item111" class="  ">Open pool on sundays?</ion-item>
        </ion-list>
    </ion-content>
</ion-view>