<ion-view title="Proposals issues" id="page25" class=" ">
    <ion-content padding="true" style="background: url(img/eAVtwVzVQcyCYu8mG5GF_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
        <h2 id="proposalsIssues-heading26" style="color:#FFFFFF;" class=" ">Social Strata</h2>
        <div id="proposalsIssues-button-bar20" class=" button-bar ">
            <button id="proposalsIssues-button152" class=" button button-positive button-small button-block ">Issues</button>
            <a ui-sref="proposalsPolls" id="proposalsIssues-button153" class=" button button-stable button-small button-block ">Polls</a>
            <a ui-sref="newTopic" id="proposalsIssues-button154" class=" button button-stable button-small button-block ">New topic</a>
        </div>
        <form id="proposalsIssues-form32" class="list ">
            <ion-item id="proposalsIssues-list-item126" ui-sref="proposalsIssueDetails" class="  ">Issue 1</ion-item>
            <ion-item id="proposalsIssues-list-item127" ui-sref="proposalsIssueDetails" class="  ">Issue 2</ion-item>
            <ion-item id="proposalsIssues-list-item128" ui-sref="proposalsIssueDetails" class="  ">Issue 3</ion-item>
            <ion-item id="proposalsIssues-list-item129" ui-sref="proposalsIssueDetails" class="  ">Issue 4</ion-item>
            <ion-item id="proposalsIssues-list-item130" ui-sref="proposalsIssueDetails" class="  ">Issue 5</ion-item>
            <ion-item id="proposalsIssues-list-item131" ui-sref="proposalsIssueDetails" class="  ">Issue 6</ion-item>
        </form>
    </ion-content>
</ion-view>