<ion-view title="Registration" id="page8" class=" ">
    <ion-content padding="true" style="background: url(img/Ysrh3eytSPm8C9HuiDAD_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
        <h2 id="registration-heading15" style="color:#FFFFFF;" class=" ">Social Strata</h2>
        <form id="registration-form17" class="list ">
            <label class="item item-input " id="registration-input21">
                <span class="input-label">First name</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 285px; height: 6px;"></div>
            <label class="item item-input " id="registration-input22">
                <span class="input-label">Last name</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 285px; height: 4px;"></div>
            <label class="item item-input " id="registration-input23">
                <span class="input-label">E-mail</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 285px; height: 5px;"></div>
            <label class="item item-input " id="registration-input24">
                <span class="input-label">Phone Number</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 285px; height: 5px;"></div>
            <label class="item item-input " id="registration-input25">
                <span class="input-label">Input</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 285px; height: 5px;"></div>
            <label class="item item-input " id="registration-input26">
                <span class="input-label">Password</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 285px; height: 5px;"></div>
            <label class="item item-input " id="registration-input29">
                <span class="input-label">Retype</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <div class="spacer" style="width: 285px; height: 18px;"></div>
        <a ui-sref="homeAfterLogin" id="registration-button163" class=" button button-assertive  button-block ">Sign up!</a>
    </ion-content>
</ion-view>