<ion-view title="Requests Tenant" id="page19" class=" ">
    <ion-content padding="true" style="background: url(img/nI55RdrTTY2fm1F9FR1A_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
        <h2 id="requestsTenant-heading19" style="color:#FFFFFF;" class=" ">Social Strata</h2>
        <a ui-sref="makeRequestTenant" id="requestsTenant-button70" class=" button button-stable button-small ">Make a request</a>
        <button id="requestsTenant-button71" class=" button button-positive button-small ">Your requests</button>
        <form id="requestsTenant-form35" class="list ">
            <div class="spacer" style="width: 285px; height: 17px;"></div>
            <label class="item item-input " id="requestsTenant-input62">
                <span class="input-label">Sink is leaking (date)</span>
                <input type="text" placeholder="">
            </label>
            <ion-item class="item-avatar  " id="requestsTenant-list-item28">
                <img src="img/y8nQ9y9AQ8yvPJoLHfIw_woman-face.gif">
                <h2>Tenant</h2>
            </ion-item>
            <p id="requestsTenant-markdown49" style="margin-top:0px;color:#FFFFFF;" class=" ">Hello. The bathroom sink is leaking, I'd like to request a repair.</p>
            <ion-item class="item-avatar  " id="requestsTenant-list-item27">
                <img src="img/f1fIWskJS3uvhuHS3aKD_Men-Hairstylef-for-Oval-face_06.jpg">
                <h2>Landlord</h2>
            </ion-item>
            <p id="requestsTenant-markdown53" style="margin-top:0px;color:#FFFFFF;" class=" ">Hi, my friend, I contacted a mainteinance professional to solve your problems. Cheers.</p>
            <label class="item item-input " id="requestsTenant-input63">
                <span class="input-label">Window is broken (date)</span>
                <input type="text" placeholder="">
            </label>
            <ion-item class="item-avatar  " id="requestsTenant-list-item29">
                <img src="img/QIytJZjjTIG0WvjIyYAT_woman-face.gif">
                <h2>Tenant</h2>
            </ion-item>
            <p id="requestsTenant-markdown50" style="margin-top:0px;color:#FFFFFF;" class=" ">Hello, I'd like to report a problem with the kitchen window, it is not closing.</p>
            <ion-item class="item-avatar  " id="requestsTenant-list-item30">
                <img src="img/TLl32GJKRX2RAckn49oe_Men-Hairstylef-for-Oval-face_06.jpg">
                <h2>Landlord</h2>
            </ion-item>
            <p id="requestsTenant-markdown51" style="margin-top:0px;color:#FFFFFF;" class=" ">Hi, thank you for the contact. I will see what is going on.</p>
            <label class="item item-input " id="requestsTenant-input64">
                <span class="input-label">Heater is not working (date)</span>
                <input type="text" placeholder="">
            </label>
            <ion-item class="item-avatar  " id="requestsTenant-list-item31">
                <img src="img/cGACAYrORS6D0U6PYUj9_woman-face.gif">
                <h2>Tenant</h2>
            </ion-item>
            <p id="requestsTenant-markdown55" style="margin-top:0px;color:#FFFFFF;" class=" ">Hello, the heather dos not seem to be working lately, since Monday It has been very cold inside.</p>
            <ion-item class="item-avatar  " id="requestsTenant-list-item32">
                <img src="img/jUnNZ1fRWCtH7WLlqqRp_Men-Hairstylef-for-Oval-face_06.jpg">
                <h2>Landlord</h2>
            </ion-item>
            <p id="requestsTenant-markdown56" style="margin-top:0px;color:#FFFFFF;" class=" ">Hello, Thank you for the contact. I will seek a maintainance to see what the problem is.</p>
        </form>
    </ion-content>
</ion-view>