<ion-view title="Requests Landlord" id="page13" class=" ">
    <ion-content padding="true" style="background: url(img/nI55RdrTTY2fm1F9FR1A_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
      <!-- Logo -->
      <div class="row">
        <div class="col">
          <img src="img/logolegenda.png">
        </div>
      </div>
        <a ui-sref="answerARequestsLandlord" id="requestsLandlord-button79" class=" button button-stable button-small ">Answer a request</a>
        <button id="requestsLandlord-button80" class=" button button-positive button-small ">Your requests</button>
        <form id="requestsLandlord-form10" class="list ">
            <div class="spacer" style="width: 285px; height: 17px;"></div>
            <label class="item item-input " id="requestsLandlord-input9">
                <span class="input-label">Sink is leaking (date)</span>
                <input type="text" placeholder="">
            </label>
            <ion-item class="item-avatar  " id="requestsLandlord-list-item10">
                <img src="img/jWq4XgcQQyAKtWOwIsBD_woman-face.gif">
                <h2>Tenant</h2>
            </ion-item>
            <p id="requestsLandlord-markdown72" style="margin-top:0px;color:#FFFFFF;" class=" ">Hello. The bathroom sink is leaking, I'd like to request a repair.</p>
            <ion-item class="item-avatar  " id="requestsLandlord-list-item11">
                <img src="img/CpxPcbQJ2NxHsGyyKTtg_Men-Hairstylef-for-Oval-face_06.jpg">
                <h2>Landlord</h2>
            </ion-item>
            <p id="requestsLandlord-markdown73" style="margin-top:0px;color:#FFFFFF;" class=" ">Hi, my friend, I contacted a mainteinance professional to solve your problems. Cheers.</p>
            <label class="item item-input " id="requestsLandlord-input10">
                <span class="input-label">Window is broken (date)</span>
                <input type="text" placeholder="">
            </label>
            <ion-item class="item-avatar  " id="requestsLandlord-list-item12">
                <img src="img/7TX2XzB7TbefV5aTcHiI_woman-face.gif">
                <h2>Tenant</h2>
            </ion-item>
            <p id="requestsLandlord-markdown74" style="margin-top:0px;color:#FFFFFF;" class=" ">Hello, I'd like to report a problem with the kitchen window, it is not closing.</p>
            <ion-item class="item-avatar  " id="requestsLandlord-list-item13">
                <img src="img/tSmdRfoNTCaikBtS69ug_Men-Hairstylef-for-Oval-face_06.jpg">
                <h2>Landlord</h2>
            </ion-item>
            <p id="requestsLandlord-markdown75" style="margin-top:0px;color:#FFFFFF;" class=" ">Hi, thank you for the contact. I will see what is going on.</p>
            <label class="item item-input " id="requestsLandlord-input11">
                <span class="input-label">Heater is not working (date)</span>
                <input type="text" placeholder="">
            </label>
            <ion-item class="item-avatar  " id="requestsLandlord-list-item14">
                <img src="img/EEdpuinHTqm4SxmsfEXU_woman-face.gif">
                <h2>Tenant</h2>
            </ion-item>
            <p id="requestsLandlord-markdown76" style="margin-top:0px;color:#FFFFFF;" class=" ">Hello, the heather dos not seem to be working lately, since Monday It has been very cold inside.</p>
            <ion-item class="item-avatar  " id="requestsLandlord-list-item15">
                <img src="img/qb6G7F1Q1u8MBrZrFM9G_Men-Hairstylef-for-Oval-face_06.jpg">
                <h2>Landlord</h2>
            </ion-item>
            <p id="requestsLandlord-markdown77" style="margin-top:0px;color:#FFFFFF;" class=" ">Hello, Thank you for the contact. I will seek a maintainance to see what the problem is.</p>
        </form>
    </ion-content>
</ion-view>
