<ion-view title="Settings 3" id="page30" class=" ">
    <ion-content padding="true" style="background: url(img/rVJMctLsRBOEyKtMXuGV_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
        <h2 id="settings3-heading12" style="color:#FFFFFF;" class=" ">Social Strata</h2>
        <ion-list id="settings3-list29" class=" ">
            <ion-item class="item-avatar  " id="settings3-list-item79">
                <img src="img/FmNVe9sWR4WtaJ2602PG_woman-face.gif">
                <h2>User</h2>
            </ion-item>
        </ion-list>
        <div id="settings3-button-bar4" class=" button-bar ">
            <a ui-sref="settings" id="settings3-button106" class=" button button-stable button-small button-block ">Personal data</a>
            <button id="settings3-button107" class=" button button-positive button-small button-block ">Your buildings</button>
        </div>
        <ion-list id="settings3-list30" class=" ">
            <label class="item item-select " id="settings3-select2">
                <span class="input-label">Apartment 2C</span>
                <select></select>
            </label>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="settings3-toggle10" class=" ">Rented</ion-toggle>
            <label class="item item-input " id="settings3-input28">
                <span class="input-label">Contract</span>
                <input type="text" placeholder="">
            </label>
        </ion-list>
        <p id="settings3-markdown83" style="color:#FFFFFF;" class=" ">
            <strong>From</strong>25.05.2015
            <strong>To</strong>25.05.2016</p>
        <ion-list id="settings3-list31" class=" ">
            <ion-item id="settings3-list-item83" ui-sref="requestsTenant" class="  ">Requests</ion-item>
            <ion-item id="settings3-list-item84" ui-sref="paymentHistory" class="  ">Payments</ion-item>
            <ion-item class="item-avatar  " id="settings3-list-item85">
                <h2>Landlord name</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>