<ion-view title="Settings" id="page10" class=" ">
    <ion-content padding="true" style="background: url(img/rVJMctLsRBOEyKtMXuGV_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
        <h2 id="settings-heading22" style="color:#FFFFFF;" class=" ">Social Strata</h2>
        <div id="settings-button-bar1" class=" button-bar "></div>
        <ion-list id="settings-list28" class=" ">
            <ion-item class="item-avatar  " id="settings-list-item77">
                <img src="img/lGz693ESTGiwvB1dFM7e_woman-face.gif">
                <h2>Item</h2>
            </ion-item>
        </ion-list>
        <div id="settings-button-bar3" class=" button-bar ">
            <button id="settings-button100" class=" button button-positive button-small button-block ">Personal data</button>
            <a ui-sref="settings2" id="settings-button101" class=" button button-stable button-small button-block ">Your buildings</a>
        </div>
        <div class="spacer" style="width: 285px; height: 8px;"></div>
        <form id="settings-form9" class="list ">
            <label class="item item-input " id="settings-input12">
                <span class="input-label">Name (default)</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 285px; height: 8px;"></div>
            <label class="item item-input " id="settings-input13">
                <span class="input-label">Phone number</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 285px; height: 8px;"></div>
            <label class="item item-input " id="settings-input16">
                <span class="input-label">E-mail</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 285px; height: 8px;"></div>
            <label class="item item-input " id="settings-input17">
                <span class="input-label">Add e-mail</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 285px; height: 8px;"></div>
            <label class="item item-input " id="settings-input19">
                <span class="input-label">PayPal account</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 285px; height: 8px;"></div>
            <label class="item item-input " id="settings-input20">
                <span class="input-label">Password</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 285px; height: 8px;"></div>
            <label class="item item-input " id="settings-input27">
                <span class="input-label">New Password</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 285px; height: 7px;"></div>
            <a ui-sref="homeAfterLogin" id="settings-button103" class=" button button-positive  ">Save changes</a>
        </form>
    </ion-content>
</ion-view>