<ion-view title="Sign in" id="page3" class=" ">
    <ion-content padding="true" style="background: url(img/nh1JwvxSWqdzmVGiqllA_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
        <h2 id="signIn-heading4" style="color:#FFFFFF;" class=" ">Social Strata</h2>
        <div class="spacer" style="width: 285px; height: 12px;"></div>
        <button id="signIn-button19" class=" button button-positive  button-block ">Join with Facebook!</button>
        <p id="signIn-markdown6" style="color:#FFFFFF;text-align:center;" class=" ">or with your e-mail</p>
        <form id="signIn-form5" class="list ">
            <label class="item item-input " id="signIn-input6">
                <span class="input-label">E-mail</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="signIn-input7">
                <span class="input-label">Password</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="homeAfterLogin" id="signIn-button22" class=" button button-assertive  button-block ">Sign in</a>
        <a ui-sref="registration" id="signIn-button23" class=" button button-stable  button-block ">Sign up for free!</a>
    </ion-content>
</ion-view>