<ion-view title="Answer a requests Landlord" id="page21" class=" ">
    <ion-content padding="true" style="background: url(img/nI55RdrTTY2fm1F9FR1A_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
        <h2 id="answerARequestsLandlord-heading21" style="color:#FFFFFF;" class=" ">Social Strata</h2>
        <button id="answerARequestsLandlord-button75" class=" button button-positive button-small ">Answer a request</button>
        <a ui-sref="requestsLandlord" id="answerARequestsLandlord-button76" class=" button button-stable button-small ">Your requests</a>
        <form id="answerARequestsLandlord-form37" class="list ">
            <div class="spacer" style="width: 285px; height: 17px;"></div>
            <label class="item item-input " id="answerARequestsLandlord-input69">
                <span class="input-label">Sink is leaking (date)</span>
                <input type="text" placeholder="">
            </label>
            <ion-item class="item-avatar  " id="answerARequestsLandlord-list-item46">
                <img src="img/9TX8UFQGRACO6sAW6DHn_woman-face.gif">
                <h2>Tenant</h2>
            </ion-item>
            <p id="answerARequestsLandlord-markdown63" style="margin-top:0px;color:#FFFFFF;" class=" ">Hello. The bathroom sink is leaking, I'd like to request a repair.</p>
            <ion-item class="item-avatar  " id="answerARequestsLandlord-list-item51">
                <img src="img/1Kbaa1WTQNyDEh4bEiod_Men-Hairstylef-for-Oval-face_06.jpg">
                <h2>Landlord</h2>
            </ion-item>
            <p id="answerARequestsLandlord-markdown69" style="margin-top:0px;color:#FFFFFF;" class=" ">Type your answer here.</p>
        </form>
    </ion-content>
</ion-view>