<ion-view title="Host an event" id="page37" class=" ">
    <ion-content padding="true" style="background: url(img/nI55RdrTTY2fm1F9FR1A_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
      <!-- Logo -->
<div class="row">
<div class="col">
  <img src="img/logolegenda.png">
</div>
</div>
        <form id="hostAnEvent-form18" class="list ">
            <ion-item class="item-avatar  " id="hostAnEvent-list-item142">
                <img src="img/cdUAXb1RWehqO2ss9LV6_woman-face.gif">
                <h2>What's on?</h2>
            </ion-item>
            <p id="hostAnEvent-markdown91" style="margin-top:0px;color:#FFFFFF;" class=" ">Describe it so people can understand it</p>
            <div class="spacer" style="height: 100px;"></div>
        </form>
        <form id="hostAnEvent-form19" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="hostAnEvent-toggle15" class=" ">Public</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="hostAnEvent-toggle16" class=" ">Private</ion-toggle>
        </form>
        <a ui-sref="events" id="hostAnEvent-button151" class=" button button-positive button-small ">Post</a>
    </ion-content>
</ion-view>
