<ion-view title="Login">
    <ion-content padding="true" class="login">
        <img src="img/logolegenda.png"></img>

        <!-- Facebook -->
        <button class=" button button-positive  button-block " ng-click="goFacebook()">Login with Facebook!</button>


        <form name="formLogin" ng-submit="login(formLogin)" class="list ">
            <label class="item item-input " id="login-input4">
                <span class="input-label">Email</span>
                <input type="text" ng-model="formLogin.user">
            </label>
            <label class="item item-input " id="login-input5">
                <span class="input-label">Password</span>
                <input type="password" ng-model="formLogin.password">
            </label>

            <button  type="submit" class="button button-block button-royal">
              Login
            </button>
        </form>

        <div class="mensagem">
            <strong>Don't have an account?</strong>
        </div>

        <button class="button button-block button-assertive" ng-click="goRegister()">
          Sign up for free!
        </button>
    </ion-content>
</ion-view>
