<ion-view title="Lost" id="page11" class=" ">
    <ion-content padding="true" style="background: url(img/nI55RdrTTY2fm1F9FR1A_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
        <h2 id="lost-heading10" style="color:#FFFFFF;" class=" ">Social Strata</h2>
        <button id="lost-button27" class=" button button-positive button-small ">All items LOST :(</button>
        <a ui-sref="found" id="lost-button28" class=" button button-stable button-small ">All items FOUND :)</a>
        <a ui-sref="addItem" id="lost-button29" class=" button button-stable button-small ">Add!</a>
        <form id="lost-form24" class="list ">
            <div class="spacer" style="width: 285px; height: 7px;"></div>
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="What are you looking for?">
            </label>
            <div class="spacer" style="width: 285px; height: 6px;"></div>
            <div class="spacer" style="width: 285px; height: 7px;"></div>
            <label class="item item-input " id="lost-input39">
                <span class="input-label">LOST | Flashdrive</span>
                <input type="text" placeholder="">
            </label>
            <p id="lost-markdown23" style="margin-top:0px;color:#FFFFFF;" class=" ">A silver flashdrive in a Penguin shape in the party room
                <strong>Icaro, 05.21st</strong>
            </p>
            <a ui-sref="popUp" id="lost-button30" class=" button button-balanced button-small ">Found it!</a>
            <div class="spacer" style="width: 285px; height: 5px;"></div>
            <label class="item item-input " id="lost-input40">
                <span class="input-label">LOST | Umbrella</span>
                <input type="text" placeholder="">
            </label>
            <p id="lost-markdown24" style="margin-top:0px;color:#FFFFFF;" class=" ">An umbrella yesterday near garden
                <strong>Leo, 05.21st</strong>
            </p>
            <a ui-sref="popUp" id="lost-button32" class=" button button-balanced button-small ">Found it!</a>
            <div class="spacer" style="width: 285px; height: 6px;"></div>
            <label class="item item-input " id="lost-input41">
                <span class="input-label">LOST | Hat</span>
                <input type="text" placeholder="">
            </label>
            <p id="lost-markdown25" style="margin-top:0px;color:#FFFFFF;" class=" ">A yellow hat on the barbecue area
                <strong>Marcela, 05.20</strong>
            </p>
            <a ui-sref="popUp" id="lost-button31" class=" button button-balanced button-small ">Found it!</a>
            <div class="spacer" style="width: 285px; height: 6px;"></div>
            <label class="item item-input " id="lost-input42">
                <span class="input-label">LOST | Suitcase</span>
                <input type="text" placeholder="">
            </label>
            <p id="lost-markdown26" style="margin-top:0px;color:#FFFFFF;" class=" ">
                <strong>FOUND</strong>A suitcase full of woman clothes outside the main building
                <strong>Maurício, 05.15</strong>
            </p>
            <a ui-sref="popUp" id="lost-button33" class=" button button-balanced button-small ">Found it!</a>
        </form>
    </ion-content>
</ion-view>