<ion-view title="Payment history" id="page31" class=" ">
    <ion-content padding="true" style="background: url(img/rVJMctLsRBOEyKtMXuGV_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
        <ion-list id="paymentHistory-list32" class=" ">
            <ion-item class="item-avatar  " id="paymentHistory-list-item86">
                <img src="img/gZ8ZNvBVS6esQunWFxm2_woman-face.gif">
                <h2>User</h2>
            </ion-item>
        </ion-list>
        <div id="paymentHistory-button-bar5" class=" button-bar ">
            <button id="paymentHistory-button109" class=" button button-positive button-small button-block ">Payment history</button>
            <a ui-sref="payment" id="paymentHistory-button110" class=" button button-stable button-small button-block ">Make a payment</a>
        </div>
        <ion-list id="paymentHistory-list33" class=" ">
            <label class="item item-select " id="paymentHistory-select3">
                <span class="input-label">Apartment 2C</span>
                <select></select>
            </label>
        </ion-list>
        <ion-list id="paymentHistory-list34" class=" ">
            <ion-item id="paymentHistory-list-item87" ui-sref="paymentDetails" class="  ">May</ion-item>
            <ion-item id="paymentHistory-list-item88" ui-sref="paymentDetails" class="  ">April</ion-item>
            <ion-item id="paymentHistory-list-item90" ui-sref="paymentDetails" class="  ">March</ion-item>
            <ion-item id="paymentHistory-list-item91" ui-sref="paymentDetails" class="  ">February</ion-item>
            <ion-item id="paymentHistory-list-item92" ui-sref="paymentDetails" class="  ">January</ion-item>
        </ion-list>
        <div id="paymentHistory-button-bar6" class=" button-bar ">
            <a ui-sref="paymentFullHistory" id="paymentHistory-button111" class=" button button-positive  button-block ">See older payments</a>
        </div>
    </ion-content>
</ion-view>