<ion-view title="Payment details" id="page33" class=" ">
    <ion-content padding="true" style="background: url(img/rVJMctLsRBOEyKtMXuGV_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
      <!-- Logo -->
      <div class="row">
        <div class="col">
          <img src="img/logolegenda.png">
        </div>
      </div>
        <ion-list id="paymentDetails-list38" class=" ">
            <ion-item class="item-avatar  " id="paymentDetails-list-item107">
                <img src="img/UyjkoGQqed9ZBxmoIQOg_woman-face.gif">
                <h2>User</h2>
            </ion-item>
        </ion-list>
        <div id="paymentDetails-button-bar9" class=" button-bar ">
            <button id="paymentDetails-button117" class=" button button-positive button-small button-block ">Payment history</button>
            <a ui-sref="paymentFullHistory" id="paymentDetails-button118" class=" button button-stable button-small button-block ">See full list</a>
        </div>
        <ion-list id="paymentDetails-list39" class=" ">
            <label class="item item-select " id="paymentDetails-select5">
                <span class="input-label">Apartment 2C</span>
                <select></select>
            </label>
        </ion-list>
        <ion-list id="paymentDetails-list40" class=" ">
            <ion-item id="paymentDetails-list-item108" ui-sref="requestsTenant" class="  ">May</ion-item>
        </ion-list>
        <div id="paymentDetails-button-bar10" class=" button-bar "></div>
        <p id="paymentDetails-markdown85" style="color:#FFFFFF;" class=" ">
            <strong>Due date</strong>05.05.2016
            <br>
            <strong>Payd on</strong>01.05.2016
            <br>
            <strong>Status</strong>Ok</p>
    </ion-content>
</ion-view>
