<ion-view title="Post a notice" id="page29" class=" ">
    <ion-content padding="true" style="background: url(img/nI55RdrTTY2fm1F9FR1A_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
      <!-- Logo -->
      <div class="row">
        <div class="col">
          <img src="img/logolegenda.png">
        </div>
      </div>
        <form id="postANotice-form29" class="list ">
            <ion-item class="item-avatar  " id="postANotice-list-item141">
                <img src="img/VpIwBlSNShKHkPWBktUP_Men-Hairstylef-for-Oval-face_06.jpg">
                <h2>What's on?</h2>
            </ion-item>
            <p id="postANotice-markdown82" style="margin-top:0px;color:#FFFFFF;" class=" ">Describe it so people can understand it</p>
            <div class="spacer" style="height: 100px;"></div>
        </form>
        <form id="postANotice-form30" class="list ">
            <ion-toggle toggle-class="toggle-positive" id="postANotice-toggle11" class=" ">Public</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="postANotice-toggle12" class=" ">Private</ion-toggle>
        </form>
        <a ui-sref="notices" id="postANotice-button93" class=" button button-positive button-small ">Post</a>
    </ion-content>
</ion-view>
