<ion-view title="Proposals issue details" id="page40" class=" ">
    <ion-content padding="true" style="background: url(img/eAVtwVzVQcyCYu8mG5GF_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
      <!-- Logo -->
      <div class="row">
        <div class="col">
          <img src="img/logolegenda.png">
        </div>
      </div>
        <div id="proposalsIssueDetails-button-bar22" class=" button-bar ">
            <a ui-sref="proposalsIssues" id="proposalsIssueDetails-button159" class=" button button-positive button-small button-block ">Issues</a>
            <a ui-sref="proposalsPolls" id="proposalsIssueDetails-button160" class=" button button-stable button-small button-block ">Polls</a>
            <a ui-sref="newTopic" id="proposalsIssueDetails-button161" class=" button button-stable button-small button-block ">New topic</a>
        </div>
        <form id="proposalsIssueDetails-form38" class="list ">
            <label class="item item-input " id="proposalsIssueDetails-textarea10">
                <span class="input-label">Issue 1</span><textarea placeholder=""></textarea>
            </label>
            <p id="proposalsIssueDetails-markdown94" style="color:#FFFFFF;" class=" ">
                <strong>User said:</strong>what do you guys think about it?
                <br>
                <strong>Carol said:</strong>I am not really sure...
                <br>
                <strong>Usher said:</strong>Maybe if we did it as a monthly event we could test if it really works out
                <br>
                <strong>Katy said:</strong>Seems like a good idea! I like it.
                <strong>You said:</strong>But we should discuss it, talk about the details, really make it organized.
                <strong>User said:</strong>Yeah! I was thinking we could meet this evening to talk about it. Are you free?
                <br>
                <strong>Carol said:</strong>I could meet at 20 pm, before I have classes.
                <br>
                <strong>Usher said:</strong>Works for me :)</p>
        </form>
    </ion-content>
</ion-view>
