<ion-view title="Settings 2" id="page22" class=" ">
    <ion-content padding="true" style="background: url(img/rVJMctLsRBOEyKtMXuGV_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
      <!-- Logo -->
      <div class="row">
        <div class="col">
          <img src="img/logolegenda.png">
        </div>
      </div>
        <ion-list id="settings2-list21" class=" ">
            <ion-item class="item-avatar  " id="settings2-list-item72">
                <img src="img/KistWT4LQdaM7pXTVvTi_woman-face.gif">
                <h2>User</h2>
            </ion-item>
        </ion-list>
        <div id="settings2-button-bar2" class=" button-bar ">
            <a ui-sref="settings" id="settings2-button97" class=" button button-stable button-small button-block ">Personal data</a>
            <button id="settings2-button98" class=" button button-positive button-small button-block ">Your buildings</button>
        </div>
        <a ui-sref="addABuilding" id="settings2-button105" class=" button button-balanced button-small ">Add a building</a>
        <ion-list id="settings2-list22" class=" ">
            <label class="item item-select " id="settings2-select1">
                <span class="input-label">Select</span>
                <select></select>
            </label>
            <ion-item class="item-thumbnail-left  " id="settings2-list-item73" ui-sref="settings3">
                <h2>Apartment 2C</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="settings2-list-item74" ui-sref="settings3">
                <h2>Apartment 3C</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="settings2-list-item78" ui-sref="settings3">
                <h2>Apartment 5F</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
