<ion-view title="Sign Up">
    <ion-content padding="true" class="signin">
      <!-- Logo -->
      <div class="row">
        <div class="col">
          <img src="img/logolegenda.png">
        </div>
      </div>

      <!-- Facebook -->
      <button class=" button button-positive  button-block " ng-click="joinFacebook()">Join with Facebook!</button>

      <div class="or"> -- OR -- </span>

      <!-- Register -->
        <form name="formRegister" ng-submit="registration(formRegister)" class="list ">
            <label class="item item-input " id="signIn-input6">
                <span class="input-label">E-mail</span>
                <input type="text" ng-model="formRegister.Email">
            </label>
            <label class="item item-input " id="signIn-input7">
                <span class="input-label">Password</span>
                <input type="password" ng-model="formRegister.Password">
            </label>
            <label class="item item-input " id="signIn-input7">
                <span class="input-label">Retype Password</span>
                <input type="password" ng-model="formRegister.ConfirmPassword">
            </label>
            <!-- complete -->
            <button type="submit" class="button button-assertive button-block">Sign up!</button>
        </form>
    </ion-content>
</ion-view>
