<ion-view title="Social" id="page15" class=" ">
    <ion-content padding="true" style="background: url(img/qZTIfyB6SCeeZnSsCgrA_Screen-Shot-2013-11-13-at-12.55.46-PM.png) no-repeat center;background-size:cover;" class="has-header">
      <!-- Logo -->
      <div class="row">
        <div class="col">
          <img src="img/logolegenda.png">
        </div>
      </div>
        <button id="social-button131" class=" button button-positive button-small ">Conversations</button>
        <a ui-sref="groups" id="social-button119" class=" button button-stable button-small ">Groups</a>
        <div class="spacer" style="width: 285px; height: 8px;"></div>
        <ion-list id="social-list3" class=" ">
            <ion-item class="item-avatar  " id="social-list-item53" ui-sref="chat">
                <img src="img/UOXW7N8QbiLclt15Dsab_17.jpg">
                <h2>Peter</h2>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 285px; height: 7px;"></div>
        <ion-list id="social-list11" class=" ">
            <ion-item class="item-avatar  " id="social-list-item56" ui-sref="chat">
                <img src="img/xFYF7a0VTDeaznknBtR3_Shawn_Tok_Profile.jpg">
                <h2>James</h2>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 285px; height: 7px;"></div>
        <ion-list id="social-list10" class=" ">
            <ion-item class="item-avatar  " id="social-list-item55" ui-sref="chat">
                <img src="img/1b7c3nyVQ5mEEcwbLMQM_c4093be1f53abd5dbe058224c44236ab6396dfbfcbb0da493fcaaf17.png">
                <h2>Lilian</h2>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 285px; height: 7px;"></div>
        <ion-list id="social-list14" class=" ">
            <ion-item class="item-avatar  " id="social-list-item59" ui-sref="chat">
                <img src="img/qLT8dxRwQ1CQBtfSOmxs_Ordinary-woman-face-2.gif">
                <h2>Carol</h2>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 285px; height: 6px;"></div>
        <ion-list id="social-list13" class=" ">
            <ion-item class="item-avatar  " id="social-list-item58" ui-sref="chat">
                <img src="img/fU6ZCjkPSbeh59aN9WiL_photo.jpg">
                <h2>Jack</h2>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 285px; height: 8px;"></div>
        <ion-list id="social-list12" class=" ">
            <ion-item class="item-avatar  " id="social-list-item57" ui-sref="chat">
                <img src="img/C1jwyuDyROWSQVqVE5h4_kindfrau_c_60_gr.jpg">
                <h2>Keira</h2>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 285px; height: 6px;"></div>
        <ion-list id="social-list15" class=" ">
            <ion-item class="item-avatar  " id="social-list-item60" ui-sref="chat">
                <img src="img/81nwbFIvSS2Z3zRvtbvP_Ken_Richters_Profile.jpg">
                <h2>Keith</h2>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 285px; height: 6px;"></div>
        <ion-list id="social-list16" class=" ">
            <ion-item class="item-avatar  " id="social-list-item61" ui-sref="chat">
                <img src="img/m6kkoKthQHyrVOYCzqLE_behandeling_gezicht.jpg">
                <h2>Kelly</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
